:root {
    /*colors*/
    --primary-color: #ccb163;
    --secondary-color: #b1cc63;
    --tertiary-color: #cc7d63;
    --black: #000000;
    /*text*/
    --title-font: 'Courier New', monospace;  
    --main-font: 'Courier New', monospace;  
}
body {
    margin: 0;
    background-color: var(--primary-color);
}
header {
    margin: 0;
    padding: 0 1em;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px var(--black);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    font-family: var(--title-font);
}
nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
        font-family: var(--title-font);
}
nav a.active {
        text-decoration: none;
        border-bottom-color: var(--secondary-color);
}
#mid-bar{
    display: flex;
}