:root {
    /*colors*/
    --primary-color: #ccb163;
    --secondary-color: #b1cc63;
    --tertiary-color: #cc7d63;
    --highlight: #a08c50;
    --purple: #8a4f9e;
    --blue: #4c62a5; 
    --black: #000000;
    /*text*/
    --title-font: 'Courier New', monospace;  
    --main-font: 'Courier New', monospace;  
}
body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: var(--title-font);
}
header {
    margin: 0;
    padding: 0 1em;
    background-color: var(--primary-color);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
}
nav a.active {
        text-decoration: none;
        border-bottom-color: var(--tertiary-color);
}
hr {
	background-color: var(--black);
	background-color: var(--black);
	border-color: var(--highlight);
	height: 2px;
}
.card{
	width: 50%;
	height: 900px;
	border-radius: 2%;
	border-color: var(--highlight);
	border-width: 10px;
	border-style: solid;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
	padding: 1em 0.5em;
	margin: auto;
}
.lr-box{
	display: flex;
	gap: .75em;
}
#mid-bar{
    display: flex;
}
